@model UpdateNewsVM
<main class="app-content">
    <div class="card-body">
        <div class="tile">
            <h3 class="tile-title">Update</h3>
            <div class="tile-body">
                <form method="post" enctype="multipart/form-data">
                    <img style="width:150px;height:150px" src="~/assets/img/@Model.Image"/>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Photo">Change image*</label>
                        <input class="form-control" asp-for="Photo" placeholder="image/*">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Name">Title*</label>
                        <input class="form-control" asp-for="Name" placeholder="Enter news title">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Description">Description*</label>
                        <textarea class="form-control" asp-for="Description" placeholder="Enter description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                 
                    <div class="tile-footer">
                        <button class="btn btn-primary" type="submit"><i class="bi bi-check-circle-fill me-2"></i>Update</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" asp-controller="news" asp-action="index"><i class="bi bi-x-circle-fill me-2"></i>Cancel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
