@model string
<div id="scrollsmoother-container">
    <div class="section-all-item-center" data-src="assets/img/errorBg.png">
        <div class="border-comming-soon-colum-right"></div>
        <div class="border-comming-soon-top"></div>
        <div class="container text-center">

            <div class="container text-center">
                <h5>@Model</h5>
            </div>
            <a asp-controller="home" asp-action="index">
                <div class="text-light style-5 mt-4">
                    <h5 >  Back to Home</h5>
                </div>
            </a>
        </div>
        <div class="border-comming-soon-colum-left"></div>
        <div class="border-comming-soon-bottom"></div>
    </div>
