@{
    Layout = null;
}
@model ForgotPasswordVM
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Elegencia</title>
    <link rel="icon" href="~/assets/img/favicon.svg" />
    <link rel="stylesheet" href="~/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="~/assets/css/style.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <section>

        <div class="bg-img">

            <div class="content">
                <div class="d-flex justify-content-center">
                    <a asp-controller="home" asp-action="index"><img src="~/assets/img/logo.png" alt="..."></a>
                </div>
                <header>Forgot password</header>
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="field space">
                        <input asp-for="Email" required placeholder="Email">
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <hr />

                    <div class="field rounded-pill">
                        <input class="rounded-pill" type="submit" value="SUBMIT">
                    </div>

                </form>
            </div>
        </div>
    </section>
    <script>
        const pass_field = document.querySelector('.pass-key');
        const showBtn = document.querySelector('.show');
        showBtn.addEventListener('click', function () {
            if (pass_field.type === "password") {
                pass_field.type = "text";
                showBtn.textContent = "HIDE";
                showBtn.style.color = "#3498db";
            } else {
                pass_field.type = "password";
                showBtn.textContent = "SHOW";
                showBtn.style.color = "#222";
            }
        });
    </script>
</body>
</html>