@model ContactVM
<div id="scrollsmoother-container">
    <!-- Start Hero -->
    <Section>
        <div class="ak-commmon-hero ak-style1 ak-bg">
            <img lass="ak-commmon-hero ak-style1 ak-bg" src="~/assets/img/menu-bg-3.jpg" />
            <div class="ak-commmon-heading">
                <div class="ak-section-heading ak-style-1 ak-type-1 ak-color-1 page-top-title">
                    <div class="ak-section-subtitle">
                        <a href="index.html">Home</a> / Contact Us
                    </div>
                    <h2 class="ak-section-title page-title-anim">Contact Us</h2>
                </div>
            </div>
        </div>
    </Section>

    <!-- End Hero -->
    <!-- Start Booking System -->
    <section>
        <div class="ak-height-150 ak-height-lg-60"></div>
        <div class="container">
            <div class="contact-content">
                <div class="contact-form">
                    <h2 class="contact-form-title anim-title-3">Contact Us</h2>
                    <form method="post">
                        <div class="from-input">
                            <input placeholder="Name" asp-for="Name" class="col-md-5 col-12 rounded-pill" type="text" name="name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                       
                            <input placeholder="Email" asp-for="Email" class="col-md-5 col-12 rounded-pill" type="email" name="email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <textarea rows="5" asp-for="CommentText" class="col-12 col-md-10" placeholder="Comment text"></textarea>
                            <span asp-validation-for="CommentText" class="text-danger"></span>
                        </div>
                        <div class="ak-height-40 ak-height-lg-20"></div>
                        <button class="ak-btn style-5 color-yellow-bg" type="submit" formmethod="post">
                            Contact US
                        </button>

                    </form>

                </div>
                <div class="contact-map">
                    <div class="booking-system-map-frist">
                        <div class="ak-google-map ak-bg">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96652.27317354927!2d-74.33557928194516!3d40.79756494697628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3a82f1352d0dd%3A0x81d4f72c4435aab5!2sTroy+Meadows+Wetlands!5e0!3m2!1sen!2sbd!4v1563075599994!5m2!1sen!2sbd"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

