@model ContactVM
<div id="scrollsmoother-container">
    <!-- Start Hero -->
    <Section>
        <div class="ak-commmon-hero ak-style1 ak-bg" >
            <img lass="ak-commmon-hero ak-style1 ak-bg" src="~/assets/img/menu-bg-3.jpg" />
            <div class="ak-commmon-heading">
                <div class="ak-section-heading ak-style-1 ak-type-1 ak-color-1 page-top-title">
                    <div class="ak-section-subtitle">
                        <a href="index.html">Home</a> / Contact Us
                    </div>
                    <h2 class="ak-section-title page-title-anim">Contact Us</h2>
                </div>
            </div>
        </div>
    </Section>
    <!-- End Hero -->
    <!-- Start Booking System -->
    <section>
        <div class="ak-height-150 ak-height-lg-60"></div>
        <div class="container">
            <div class="contact-content">
                <div class="contact-form">
                    <h2 class="contact-form-title anim-title-3">Contact Us</h2>
                    <from method="post">
                        <div class="from-input">
                            <input placeholder="Name" asp-for="Name" class="col-md-5 col-12 rounded-pill" type="text" name="name">
                            <input placeholder="Email" asp-for="Email" class="col-md-5 col-12 rounded-pill" type="email" name="email">
                        </div>
                        <div class="col-md-12">
                            <textarea name="textarea" rows="5" asp-for="ContactUs" class="col-12 col-md-10"
                                      placeholder="Comment text"></textarea>
                        </div>
                        <div class="ak-height-40 ak-height-lg-20"></div>
                        <div class="ak-btn style-5 color-yellow-bg">
                            <button type="submit">Contact US</button>
                        </div>
                    </from>

                </div>
                <div class="contact-map">
                    <div class="booking-system-map-frist">
                        <div class="ak-google-map ak-bg">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96652.27317354927!2d-74.33557928194516!3d40.79756494697628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3a82f1352d0dd%3A0x81d4f72c4435aab5!2sTroy+Meadows+Wetlands!5e0!3m2!1sen!2sbd!4v1563075599994!5m2!1sen!2sbd"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End Booking System -->
   @*  <!-- Start Location -->
    <section>
        <div class="ak-height-150 ak-height-lg-60"></div>
        <div class="container">
            <div class="ak-section-heading ak-style-1 ak-type-1">
                <div class="ak-section-subtitle">
                    Visit Us
                </div>
                <h2 class="ak-section-title anim-title">Nearby Find Us</h2>
            </div>
        </div>
        <div class="ak-height-65 ak-height-lg-30"></div>
        <div class="container">
            <div class="location-card location-card-style-1">
                <div class="location-card-item style-1">
                    <a href="#">
                        <div class="card-icon">
                            <svg viewBox="0 0 40 41" height="41" width="40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 11.127C16.1403 11.127 13 14.1177 13 17.7936C13 18.8971 13.2897 19.9913 13.8404 20.9618L19.6172 28.9121C19.6941 29.0448 19.8407 29.127 20 29.127C20.1593 29.127 20.3059 29.0448 20.3828 28.9121L26.1617 20.9585C26.7103 19.9913 27 18.8971 27 17.7936C27 14.1177 23.8597 11.127 20 11.127ZM20 21.127C18.0701 21.127 16.5 19.6316 16.5 17.7936C16.5 15.9557 18.0701 14.4603 20 14.4603C21.9299 14.4603 23.5 15.9557 23.5 17.7936C23.5 19.6316 21.9299 21.127 20 21.127Z"
                                      fill="white" />
                            </svg>
                        </div>
                    </a>
                    <h6 class="card-title">
                        New York
                    </h6>
                    <p class="card-subtext">901 N Pitt Str., Suite 170</p>
                    <p> Alexandria, NY, USA</p>
                    <p> info@example.com </p>
                </div>
                <div class="location-card-item style-1">
                    <a href="#">
                        <div class="card-icon">
                            <svg viewBox="0 0 40 41" height="41" width="40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 11.127C16.1403 11.127 13 14.1177 13 17.7936C13 18.8971 13.2897 19.9913 13.8404 20.9618L19.6172 28.9121C19.6941 29.0448 19.8407 29.127 20 29.127C20.1593 29.127 20.3059 29.0448 20.3828 28.9121L26.1617 20.9585C26.7103 19.9913 27 18.8971 27 17.7936C27 14.1177 23.8597 11.127 20 11.127ZM20 21.127C18.0701 21.127 16.5 19.6316 16.5 17.7936C16.5 15.9557 18.0701 14.4603 20 14.4603C21.9299 14.4603 23.5 15.9557 23.5 17.7936C23.5 19.6316 21.9299 21.127 20 21.127Z"
                                      fill="white" />
                            </svg>
                        </div>
                    </a>
                    <h6 class="card-title">
                        Los Angeles
                    </h6>
                    <p class="card-subtext">901 N Pitt Str., Suite 170</p>
                    <p> Alexandria, NY, USA</p>
                    <p> info@example.com </p>
                </div>
                <div class="location-card-item">
                    <a href="#">
                        <div class="card-icon">
                            <svg viewBox="0 0 40 41" height="41" width="40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 11.127C16.1403 11.127 13 14.1177 13 17.7936C13 18.8971 13.2897 19.9913 13.8404 20.9618L19.6172 28.9121C19.6941 29.0448 19.8407 29.127 20 29.127C20.1593 29.127 20.3059 29.0448 20.3828 28.9121L26.1617 20.9585C26.7103 19.9913 27 18.8971 27 17.7936C27 14.1177 23.8597 11.127 20 11.127ZM20 21.127C18.0701 21.127 16.5 19.6316 16.5 17.7936C16.5 15.9557 18.0701 14.4603 20 14.4603C21.9299 14.4603 23.5 15.9557 23.5 17.7936C23.5 19.6316 21.9299 21.127 20 21.127Z"
                                      fill="white" />
                            </svg>
                        </div>
                    </a>
                    <h6 class="card-title">
                        Chicago
                    </h6>
                    <p class="card-subtext">901 N Pitt Str., Suite 170</p>
                    <p> Alexandria, NY, USA</p>
                    <p> info@example.com </p>
                </div>
            </div>
        </div>
        <div class="ak-loaction-hr"></div>
        <div class="container">
            <div class="location-card location-card-style-1">
                <div class="location-card-item style-1">
                    <a href="#">
                        <div class="card-icon">
                            <svg viewBox="0 0 40 41" height="41" width="40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 11.127C16.1403 11.127 13 14.1177 13 17.7936C13 18.8971 13.2897 19.9913 13.8404 20.9618L19.6172 28.9121C19.6941 29.0448 19.8407 29.127 20 29.127C20.1593 29.127 20.3059 29.0448 20.3828 28.9121L26.1617 20.9585C26.7103 19.9913 27 18.8971 27 17.7936C27 14.1177 23.8597 11.127 20 11.127ZM20 21.127C18.0701 21.127 16.5 19.6316 16.5 17.7936C16.5 15.9557 18.0701 14.4603 20 14.4603C21.9299 14.4603 23.5 15.9557 23.5 17.7936C23.5 19.6316 21.9299 21.127 20 21.127Z"
                                      fill="white" />
                            </svg>
                        </div>
                    </a>
                    <h6 class="card-title">
                        Houston
                    </h6>
                    <p class="card-subtext">901 N Pitt Str., Suite 170</p>
                    <p> Alexandria, NY, USA</p>
                    <p> info@example.com </p>
                </div>
                <div class="location-card-item style-1">
                    <a href="#">
                        <div class="card-icon">
                            <svg viewBox="0 0 40 41" height="41" width="40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 11.127C16.1403 11.127 13 14.1177 13 17.7936C13 18.8971 13.2897 19.9913 13.8404 20.9618L19.6172 28.9121C19.6941 29.0448 19.8407 29.127 20 29.127C20.1593 29.127 20.3059 29.0448 20.3828 28.9121L26.1617 20.9585C26.7103 19.9913 27 18.8971 27 17.7936C27 14.1177 23.8597 11.127 20 11.127ZM20 21.127C18.0701 21.127 16.5 19.6316 16.5 17.7936C16.5 15.9557 18.0701 14.4603 20 14.4603C21.9299 14.4603 23.5 15.9557 23.5 17.7936C23.5 19.6316 21.9299 21.127 20 21.127Z"
                                      fill="white" />
                            </svg>
                        </div>
                    </a>
                    <h6 class="card-title">
                        Phoenix
                    </h6>
                    <p class="card-subtext">901 N Pitt Str., Suite 170</p>
                    <p> Alexandria, NY, USA</p>
                    <p> info@example.com </p>
                </div>
                <div class="location-card-item">
                    <a href="#">
                        <div class="card-icon">
                            <svg viewBox="0 0 40 41" height="41" width="40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 11.127C16.1403 11.127 13 14.1177 13 17.7936C13 18.8971 13.2897 19.9913 13.8404 20.9618L19.6172 28.9121C19.6941 29.0448 19.8407 29.127 20 29.127C20.1593 29.127 20.3059 29.0448 20.3828 28.9121L26.1617 20.9585C26.7103 19.9913 27 18.8971 27 17.7936C27 14.1177 23.8597 11.127 20 11.127ZM20 21.127C18.0701 21.127 16.5 19.6316 16.5 17.7936C16.5 15.9557 18.0701 14.4603 20 14.4603C21.9299 14.4603 23.5 15.9557 23.5 17.7936C23.5 19.6316 21.9299 21.127 20 21.127Z"
                                      fill="white" />
                            </svg>
                        </div>
                    </a>
                    <h6 class="card-title">
                        San Diego
                    </h6>
                    <p class="card-subtext">901 N Pitt Str., Suite 170</p>
                    <p> Alexandria, NY, USA</p>
                    <p> info@example.com </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Location --> *@
