@using Elegencia.Application.ViewModels
@model UserVM

<main class="app-content">
    <div class="row user">


        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-md-12">
                <div class="profile">
                    <div class="info">
                        <img class="user-img" src="~/assets/img/@Model.Image">
                        <h4>@Model.Name  @Model.Surname</h4>
                        @if (Model.Image != "user-image.jpg")
                        {
                            <a class="text-light nav-link" asp-controller="user" asp-action="deletephoto"><i class="bi bi-trash3"></i>Delete profile photo</a>
                        }

                    </div>
                    <div class="cover-image"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile p-0">
                    <ul class="nav flex-column nav-tabs user-tabs">
                        <li class="nav-item"><a class="nav-link" href="#user-settings" data-bs-toggle="tab">@(Model.MessagesCount > 10 ? "10+" : Model.MessagesCount) @(Model.MessagesCount <= 0 ? "Message" : "Messages") </a></li>
                        <a class="nav-link" asp-area="" asp-controller="account" asp-action="logout" ><i class="bi bi-box-arrow-left"></i>Log Out</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content ">
                    <div class="tab-pane active ">
                        <div class="tile user-settings ">
                            <h4 class="line-head">Settings</h4>
                            <form method="post" enctype="multipart/form-data">
                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <label asp-for="Name">Name</label>
                                        <input class="form-control" asp-for="Name">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Surname">Surname</label>
                                        <input class="form-control" asp-for="Surname">
                                        <span asp-validation-for="Surname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 mb-4">
                                        <label asp-for="Username">Username</label>
                                        <input class="form-control" asp-for="Username" disabled>
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-8 mb-4">
                                        <label asp-for="Email">Email</label>
                                        <input class="form-control" asp-for="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-8 mb-4">
                                        <label asp-for="Photo">Change profile photo</label>
                                        <input class="form-control" asp-for="Photo">
                                        <span asp-validation-for="Photo" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <label asp-for="NewPassword">New password</label>
                                        <input class="form-control" asp-for="NewPassword">
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="ConfirmPassword">Confirm password</label>
                                        <input class="form-control" asp-for="ConfirmPassword">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                    <div class="col-md-12">
                                        <button formmethod="post" class="btn btn-primary" type="submit"><i class="bi bi-check-circle-fill me-2"></i> Save</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" asp-controller="dashboard" asp-action="index"><i class="bi bi-x-circle-fill me-2"></i>Cancel</a>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</main>

